.card:hover{
    box-shadow: 5px 10px 20px 1px rgb(8, 8, 8) !important;
    transition: all 0.5s linear;
}

.card{
    border: solid rgba(230, 217, 217, 0.856) 1px;
}

.tachado{
    text-decoration: line-through;
    margin: 0px 20px 0px 0px;
}

.card-body{
    text-align: center;
}

.bi-eye{
    padding: 0 0 0 20px;
    color: black;
}
